
body
{
    background-color: var(--bege-claro);

}
main
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* margin: 10%; */
    margin: 0 10%;
}

.lado-esquerdo
{
    width: 45vw;
    display: flex;
    flex-direction: column;
    gap: 3vw;

    align-items: center;
    margin-top: 22%;
    padding-right: 16vw;
}

.texto-botao
{
    font-family: var(--Poppins);
    font-size: clamp(1.5vw, 1.6vw, 1.8rem);
    color: var(--marrom);
    font-weight: 800;
    white-space: nowrap;
}

.cadastro
{
    width: 29vw;
    /* background-color: black; */
}

.cadastro-botao
{
    height: 80%;
    width: 100%;
    display: inline-flex;
    align-items: center;
    
    border-radius: .5vw;  
    background-color: var(--cinza-claro-azulado);
    border: .2vw solid var(--cinza-azulado);

}

.cadastro-botao:active
{
    background-color: var(--botao-ativo);

}

.img
{
    height: 100%;
    width: 11%;
    margin: 3%;
}


.telefone-img
{
    margin-right: -1%;
}

#display-none
{
    display: none;
}

#telefone
{
    padding: 1vw;
    text-align: center;
    align-items: center;
    padding-left: 3vw;
}

.linha-divisoria
{
    display: flex;
    width: 100%;
    height: clamp(1vh, .7vw, 2vh);
    background-color: var(--cinza-claro-azulado);
    border-radius: .1vw;
}

.nao-sou-robo
{

}
.form-robo
{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1vw;
}

/* Parte do Input:checkbox */

.checkbox-robo
{
  margin-right: 10%;
  /* width: 2.4vw; */
  width: clamp(1rem, 2.4vw, 3rem);
  height: clamp(1rem, 2.4vw ,3rem);

  cursor: pointer;

  appearance: none;

  border: .2vw solid var(--cinza-azulado);
  background-color: #FFFF;
  border-radius: .6vw;
}

.checkbox-robo:checked
{
  /* background: #4caf50; */
  /* position: relative; */

  position: static;

  /* background-size: cover; */
  background-image: url(../img/svg/check.svg);
  background-size: 2vw;
  background-repeat: no-repeat;
  background-position: center;
  

}

.robo-img
{
    width: 15%;
    height: 90%;
    margin: 5% 0% 5% 5%;
}

.lado-direito
{
    margin-top: 10%;
    margin-bottom: 100%;
    
    height: clamp(40vh, 50vw, 60rem);
    width: clamp(30vw, 35vw, 50rem);

    border: .4vw solid var(--borda-azul-escura);
    border-radius: 1vw;
    background-color: var(--cinza-azulado);
}

.gardenia-bemvindo
{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */

    width: 100%;
    height: 100%;

    gap: 1.4vw;
    padding: 10% 10% 20% 10%;
    /* margin-bottom: 20%; */

}

.gardenia-img
{
    margin-top: 0%;
    width: clamp(10vw, 15.5vw, 20rem);
    height: auto;
    border-radius: 50%;
    border: .2vw solid var(--marrom);
}

.gardenia-textos
{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1.5vw;
    margin-bottom: 15%;
}

.texto-titulo
{
    font-size: clamp(2vw, 3vw, 4rem);
    font-family: var(--Lobster);
    font-weight: 400;
    color: var(--bege-claro);
}

.texto-pequeno
{
    font-size: clamp(1vw, 1.5vw, 1.5rem);
    font-family: var(--Poppins);
    font-weight: 550;
    color: var(--branco);
    white-space: nowrap;

}


.gardenia-botao
{
    width: 95%;
    /* height: clamp(33vh, 30vw, 50rem); */
    /* padding: .5vh 0; */
    padding: clamp(.3vh, .1vw, 1rem) 0;
    
    border-radius: 1vw;
    border: .2vw solid var(--borda-azul-escura);
    background-color: var(--cinza-claro-azulado);

}

.gardenia-botao:hover
{
    cursor: pointer;
    background-color: transparent;
    border: .2vw solid var(--cinza-branco);
    color: var(--cinza-branco);
}

.gardenia-botao:active
{
    background-color: var(--botao-ativo);
}


@media (max-width: 425px) {


    body
    {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }
    

    main
    {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    .lado-direito
    {
        height: 50%;
        width: 80%;
        margin-bottom: 0;
    }

    .gardenia-bemvindo
    {
        padding: 15% 10% 20% 10%;
        height: 100%;
        gap: 2vw;
    }

    .gardenia-img
    {
        width: 55%;

    }

    .gardenia-textos
    {
        gap: 3vw;
    }

    .texto-titulo
    {
        font-size: clamp(2vw, 5.2vw, 4rem);
    }

    .texto-pequeno
    {
        font-size: 85%;
    }

    .gardenia-botao
    {
        width: 100%;
        padding: clamp(.1vh, .3w, 1rem) 0;
    }
    


    .lado-esquerdo
    {
        padding: 0;
        margin: 0;
        margin-top: 10%;
        width: 60vw;
        gap: 2vw;


    }

    .cadastro
    {
        /* width: 44vw; */
        width: 80%;
        height: clamp(5vh, 15vw, 30rem);
    }

    .img
    {
        width: 15%;
        margin: 0 2%;
    }

    .texto-botao
    {
        font-size: clamp(1vw, 2.5vw, 1.8rem);
    }

    #telefone
    {
        padding-left: 6vw;
    }

    .telefone-img
    {
        margin-right: -3%;
    }

    .checkbox-robo
    {
        width:  clamp(1.2rem, 2.5vw, 5rem);
        height: clamp(1.2rem, 2vw ,5rem);
    }

    .checkbox-robo:checked
    {
        background-size: 4vw;
    }

    
}