
body
{
    background-color: var(--bege-claro);

}
main
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 10%;
}

.lado-esquerdo
{
    width: 45vw;
    display: flex;
    flex-direction: column;
    gap: 3vw;

    align-items: center;
    padding-right: 16vw;
}

.texto-subtitulo
{
    font-family: var(--Poppins);
    font-size: clamp(1.5vw, 1.6vw, 1.8rem);
    color: var(--marrom);
    font-weight: 800;
    white-space: nowrap;
}

.cadastro
{
    width: 29vw;
    /* background-color: black; */
}

.cadastro-botao
{
    height: 80%;
    width: 100%;
    display: inline-flex;
    align-items: center;
    
    border-radius: .5vw;  
    background-color: var(--cinza-claro-azulado);
    border: .2vw solid var(--cinza-azulado);

}

.cadastro-botao:active
{
    background-color: #7F8A94;

}

.img
{
    height: 100%;
    width: 11%;
    margin: 3%;
}


.telefone-img
{
    margin-right: -1%;
}

#display-none
{
    display: none;
}

.linha-divisoria
{
    display: flex;
    width: 100%;
    height: clamp(1vh, .7vw, 2vh);
    background-color: var(--cinza-claro-azulado);
    border-radius: .1vw;
}

.nao-sou-robo
{

}
.form-robo
{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1vw;
}

.checkbox-robo
{
  margin-right: 10%;
  width: 25px;
  height: 25px;
  cursor: pointer;

  appearance: none;
  border: 2px solid #555;
  border-radius: 4px;
}

.checkbox-robo:checked
{
  background: #4caf50;
  position: relative;
}

.checkbox-robo::after
{
  content: "oi";
  color: white;
  font-size: 20px;
  position: absolute;
  left: 4px;
  top: -2px;
}

.robo-img
{
    width: 15%;
    height: 90%;
    margin: 5% 0% 5% 5%;
}

