* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html
{
    scroll-behavior: smooth;
}

body
{
    background-color: var(--bege-claro);
}

header
{
    background-image: url(../img/homeimg.png);
    background-size: cover;
    /* background-position: center; */
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}

.navegacao
{
}

.lista-menu
{
    list-style: none;
    display: inline-flex;
    align-items: center;
    gap: 2vw;
    
    background-color: rgba(var(--cinza-azuladoRGB), 0.85);
    width: 100%;
    /* height: 50%; */
    height: 6.9vw;
    /* height: 15vh; */
    padding: 0 2vw;
    display: inline-flex;
    /* gap: 10%; */
    /* ARRUMAR BLUR DE FUNDO */
}

.logo
{
    width: 8vw;
    height: auto;
    /* padding: 5%; */
    padding: 10%;
    
}

.linha-separadora
{
    width: .4%;
    background-color: var(--cinza-claro-azulado);
    height: 75%;
}

.nav-links
{
    display: inline-flex;
    /* gap: 10vw; */
    /* gap: 101px; */
    justify-content: center;
    align-items: center;
    gap: 5vw;
    gap: 10vw;
}

.sub-texto
{
    font-family: var(--Poppins);
    font-size: 1.5vw;
    font-weight: 700;
}

.link-ativo
{
    padding: 0 -2vw;

    color: #fff;
    text-decoration: none;
}

#Contato
{
    margin-right: 2vw;
}

.perfil-links
{
    display: inline-flex;
    align-items: center;
    gap: 2vw;
}

.link-ativo:hover
{
    color: var(--vermelho-escuro);
    transition: .4s;
}

.login
{
    width: 3.5vw;
    height: auto;
    margin: auto;
    padding: auto;
}


button
{
    background: none;
    border: none;
    cursor: pointer;
}

.secao-banner
{
    margin-top: 20vh;
    margin-left: 10vw;
    display: flex;
    flex-direction: column;

}

.texto-banner
{
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

.textoBanner
{
    color: var(--bege-claro);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}


.titulo-banner
{
    font-family: var(--Lobster);
    font-size: 4.5vw;
    color: var(--bege-claro);
}

.subtitulo-banner-sobre
{
    font-size: 1.2vw;
    font-family: var(--Poppins);
    font-weight: 600;
}

.subtitulo-banner-encomenda
{
    font-size: 2.5vw;
    font-family: var(--Poppins);
    font-weight: 500;
    text-decoration: underline;
    width: 22%;
}

.subtitulo-banner-encomenda:hover
{
    color: var(--cinza-claro-azulado);
    transition: .2s;
    cursor: pointer;
}

main
{
    /* margin-top: 10vh; */
}
.linha-divisoria
{
    margin-top: 11vh;
    margin-left: auto;
    margin-right: auto;
    width: 40vw;
    height: 1vh;
    background-color: var(--cinza-azulado);
    border-radius: 1vw;
}

.modelos
{
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.cabecalhos-modelos
{
    display: inline-flex;
    text-align: center;
}

.texto-titulo
{
    margin-top: 2vh;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2vh;
    text-align: center;
    font-family: var(--Lobster);
    font-weight: 600;
    color: var(--marrom);
    font-size: 2vw;


}

.modelos-grid
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    gap: 5vw;
}

.modelo
{
    margin-left: 2vw;
    margin-right: 2vw;
    width: auto;
    height: auto;
}


.img-modelo
{
    width: 100%;
    height: auto;
    border-radius: 1vw;
}

.modelo-texto
{
    text-align: center;

}