@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root
{
    --cinza: #62727F;
}
/* 
  font-family: "Poppins", sans-serif;
  font-family: "Lobster", sans-serif;
*/

body
{
    box-sizing: border-box;
    background-color: var(--bege-claro);

}


.oi
{
    display: inline-flex;
    align-items: center;
    color: var(--cinza);
    text-decoration: none;
    cursor: default;
    gap: 1.5vw;

}

.icone-voltar
{
    width: 3.5vw;
    cursor: pointer;
    color: var(--cinza);
    transition: transform 0.4s ease;
    
}

.icone-voltar:hover
{
    transform: #000000;
}

.texto-voltar
{
    font-family: var(--Poppins);
    font-size: 1vw;
    cursor: pointer;
}

.tela
{
    display: grid;  
    grid-template-columns: 1fr 1fr;
    
}

.lado-esquerdo
{
    /*
    display: grid;
    grid-template-columns: 1fr; 
    */
    display: flex;
    flex-direction: column;
    border-radius: 1vw;
    background-color: transparent;

    margin: 6% 2% 5% 2.5%;
    /* padding: 1% 4% 0% 4.5%; */
}

.titulo-esquerda, .titulo-direita
{
    font-family: var(--Lobster);
    font-size: 2.9vw;
    color: var(--marrom);
    text-align: center;
    margin-bottom: 4%;
}

.carrinho
{
    
    border: 5px solid var(--cinza-claro-azulado);
    border-radius: .5vw;
    padding: 3.5% 2%;
    /* height: 90%; */
    height: 58%;
}


.produtos
{
    display: grid;
    grid-template-columns: 1fr;
    gap: 2vw;
    margin: 2% 2%;
    /* padding: 2% 2%; */
}
.produto-selecionado
{
    list-style: none;
    display: grid;
    grid-template-columns: .1fr 1fr .4fr;
}

.produto-img
{
    width: 12.5vw;
    height: 100%;   
    margin-right: 2vw;
}

.produto-dados
{
    display: grid;
    grid-template-columns: 1fr;
}

/* .produto-nome, .produto-dados, #ID, .produto-preco
{
    font-family: var(--Poppins);
    font-size: 1.2vw;
    font-weight: 550;
    color: var(--cinza-azulado);
} */

.produto-nome
{
    margin-bottom: 0%;
    font-size: 1.3vw;
    font-weight: 800;
    color: var(--marrom);
}

.produto-informacoes
{
    padding-top: 4%;
    font-family: var(--Poppins);
    font-size: 1.2vw;
    /* font-size: 1.3em; */
    font-weight: 550;
    color: var(--cinza-azulado);
    display: flex;
    flex-direction: column;
    gap: .5vw;
}

.produto-coordenar
{
    display: inline-flex;
    border: 1px solid var(--marrom);
    border-radius: .3vw;
    gap: .3vw;
}

.produto-quantidade
{
    display: inline-flex;
    /* padding-top: 12.4rem; */
    padding-top: 9.2vw;
    font-size: 1vw;
    align-items: center;
    justify-content: center;
}

.produto-diminuir, .produto-aumentar
{
    background-color: var(--marrom);
    color:#F2E0C0;
    /* width: 2vw; */
    font-size: 1.5vw;
    display: flex;
    justify-content: center;
    height: 40%;
}

.produto-aumentar:hover, .produto-diminuir:hover
{
    cursor: pointer;
    background-color: #362e26d6;
}


.produto-quantia
{
    display: flex;
    justify-content: center;
    width: 1vw;
    font-size: 1.3vw;
    margin: 0 .1vw;
}

.produto-diminuir, .produto-quantia, .produto-aumentar
{
    font-family: var(--Poppins);
    display: flex;
    align-items: center;
    height: 2.1vw;
    width: 2.5vw;
}

.linha-divisoria
{
    margin: 1% 0;
    border-radius: .2vw;
    width: 100%;
    /* border-bottom: .5vw solid var(--marrom); */
    border-bottom: .2vw solid var(--cinza-azulado);
}

.lado-direito
{
    display: grid;
    grid-template-columns: 1fr;
    border-radius: 1vw;
    background-color: transparent;

    margin: 6% 2.5% 37% 2%;
    /* margin: 6% 2.5% 0% 2%; */
    /* padding: 1% 4% 0% 4.5%; */
}

.informacoes-endereco
{
    border: 5px solid var(--cinza-azulado);
    background-color: var(--cinza-claro-azulado);
    border-radius: .5vw;
    padding: 3.5% 2%;
    display: grid;
    gap: 1vw;
}

.endereco-titulo
{
    font-family: var(--Poppins);
    color: var(--marrom);
    font-weight: 600;
    font-size: 2vw;
}

.inserir-informacoes
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100%;
}

.enderecos
{
    color: var(--marrom);
    /* display: grid;
    grid-template-rows: 1fr 1fr; */
    /* gap: 15%; */
    /* gap: 2%; */
    margin-bottom: 9%;
    display: flex;
    flex-direction: column;
}

/* Titulo abaixo garai 
    
    o Rua, Numero, Bairro, Cidade, Estado, CEP e Nome 
    
*/


.titulo
{
    font-size: 1.59vw;
    font-family: var(--Poppins);
    font-weight: 700;
    color: var(--marrom);
    white-space: nowrap;
}



.inputs
{
    border: none;
    border-radius: .5vw;
    font-size: 1vw;
    font-family: var(--Poppins);
    background-color: var(--cinza-branco);
    color: black;
    padding: 0 .7vw;
    height: 2.5vw;
    /* height: 2.4rem; */
    /* width: 20vw; */
    width: 100%;

     
}

.ruas 
{
    width: 30vw;
    /* margin-right: 2.5vw; */
}

.numeros
{
    width: 12vw;
    margin-left: 2.5vw;
}

.estados
{
    width: 19vw;
}

.cidades
{
    width: 22vw;
    margin-left: -7.5vw;
}

.bairros
{
    width: 24vw;
}

.ceps
{
    width: 14vw;
}

#nome-input
{
    width: calc(100% + 14vw);
}







/* Formas Pagamento:droptable vulgo capeta*/

.formas-pagamento
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* gap: 1vw; */
}

.pagamento-selecao
{
    display: flex;
    flex-direction: column;
    gap: 2.5%;
}

#formaPagamento, option
{
    background-color: var(--cinza-branco);
    width: 70%;
    /* height: 2.5vw;     */
    height: 4vh;    
    font-size: .9vw;
    font-family: var(--Inter);
    color: var(--cinza-azulado);
    font-weight: 600;
    border-radius: .5vw;
    padding-left: 5%;
}

/*
Droptable:
ordem:
Pix
Cartao
Boleto
*/

.pagamento-selecionado
{
    margin-top: 15%;
    display: flex;
}

.pix-selecionado
{
    
    background-color: var(--cinza-azulado);
    
    display: flex;
    display: none;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    /* height: 25vw; */
    /* height: 29rem; */
    margin: 2%;
    border-radius: 2vw;
}

.img-selecionada
{
    padding-top: 2%;
    width: 62%;
    margin: 5%;
    padding-bottom: 10%;
}

.texto-complementar
{
    font-family: var(--Poppins);
    color: var(--marrom);
    text-align: center;
    font-size: 1.8vw;
    font-weight: 700;
}


.cartao-selecionado
{
    background-color: var(--cinza-azulado);
    display: grid;
    display: none;
    grid-template-columns: 1fr 1fr;
    gap: 1vw;
    /* width: 100%; */
    /* width: 27vw; */
    width: 27vw;
    padding-right: 10vw;
    height: 18vw;
    /* height: 40vh; */
    margin-left: -4%;
    border-radius: 2vw;


}

.esquerda-cartao, .direita-cartao
{
    margin-top: 1.5vh;    
}

.esquerda-cartao
{
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    gap: 2vw;
}

.direita-cartao
{
    margin-right: 5%;
    display: flex;
    flex-direction: column;
    gap: 2vw;
}


.cartao
{
    font-size: .8vw;
    white-space: nowrap;
}

.cartaos
{
    border: none;
    border-radius: .5vw;
    font-size: .9vw;
    font-family: var(--Poppins);
    color: #62727F;

    width: 60%;
    height: 1.9vw;
    text-align: justify;
    text-justify:inter-word;
    padding: 0 .1vw;
}

#numero-cartao
{
    width: 14vw;
}

#cpf
{
    width: 10vw;
}

.texto-complementar, .cartao
{
    text-align: left;
}

#nome-colocar
{
    width: 100%;
}

.validade
{
    display: flex;
    flex-direction: column;
}

.inputs-inline
{
    display: inline-flex;
    gap: 1vw;
}

#mes
{
    width: 5.5vw;
    text-align: center;
}

#ano
{
    width: 3.45vw;
    text-align: center;
}

#cvv
{
    margin-top: 1%;
    width: 3vw;
    height: 2vw;
    text-align: center;
}

.cartao-concluir
{
    margin-left: 5%;
    border-radius: .5vw;
    background-color: var(--cinza-claro-azulado);
    border: 2px solid #444F58;
    color: var(--marrom);
    text-align: center;
    font-family: var(--Poppins);
    font-weight: 600;
    font-size: 1.1vw;
    width: 80%;
    height: 2.8vw;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
}

.cartao-concluir:hover
{
    background-color: transparent;
    color: var(--cinza-branco);
    border: 2px solid var(--cinza-branco);
    
}

.boleto-selecionado
{
    display: flex;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 2%;
    background-color: var(--cinza-azulado);
    border-radius: 1vw;    
    width: 25vw;
    height: 100%;
    gap: 2vw;
}

.titulo-complementar
{
    font-family: var(--Poppins);
    color: var(--marrom);
    text-align: center;
    margin: 0 1vw;
    padding-top: 1vh;
    font-size: 1.6vw;
    font-weight: 700;
    margin-top: 5%;
}

.boleto-img
{
    width: 30%;
}

.boleto-botao
{
    margin-left: auto;
    margin-right: auto;
    width: 35%;
    height: 10%;
    border-radius: .5vw;
    color: var(--marrom);
    background-color: var(--cinza-claro-azulado);    
    border: 2px solid #444F58;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 0.8vw;
    text-align: center;
    margin-bottom: 10%;
}

.boleto-botao:hover
{
    background-color: transparent;
    color: var(--cinza-branco);
    border: 2px solid var(--cinza-branco);
    
}




/* 
    =============
    botão prosseguir 
    =============

*/


.botao-prosseguir
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-radius: .5vw;
    background-color: var(--cinza-claro-azulado);
    border: 2px solid var(--cinza-azulado);
    text-decoration: none;
    color: var(--marrom);
    text-align: center;
    font-family: var(--Poppins);
    font-weight: 600;
    font-size: 1.5vw;
    width: 90%;
    /* margin: 20% 1% 0 1%; */
    margin-top: 20%;
    margin-left: auto;
    margin-right: auto;
}

.botao-prosseguir:hover
{
    background-color: transparent;
    color: var(--cinza-azulado);
}
