@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root
{
    --cinza: #62727F;
}
/* 
  font-family: "Poppins", sans-serif;
  font-family: "Lobster", sans-serif;
*/

body
{
    box-sizing: border-box;
    background-color: var(--bege-claro);

}


.oi
{
    display: inline-flex;
    align-items: center;
    color: var(--cinza);
    text-decoration: none;
    cursor: default;
    gap: 1.5vw;

}

.icone-voltar
{
    width: 3.5vw;
    cursor: pointer;
    color: var(--cinza);
    transition: transform 0.4s ease;
    
}

.icone-voltar:hover
{
    transform: #000000;
}

.texto-voltar
{
    font-family: var(--Poppins);
    font-size: 1vw;
    cursor: pointer;
}

.tela
{
    display: grid;  
    grid-template-columns: 1fr 1fr;
    
}

.lado-esquerdo
{
    display: grid;
    grid-template-columns: 1fr;
    border-radius: 1vw;
    background-color: transparent;

    margin: 6% 2% 5% 2.5%;
    /* padding: 1% 4% 0% 4.5%; */
}

.titulo-esquerda, .titulo-direita
{
    font-family: var(--Lobster);
    font-size: 2.9vw;
    color: var(--marrom);
    text-align: center;
    margin-bottom: 4%;
}

.carrinho
{
    
    border: 5px solid var(--cinza-claro-azulado);
    border-radius: .5vw;
    padding: 3.5% 2%;
    height: 90%;
}


.produtos
{
    display: grid;
    grid-template-columns: 1fr;
    gap: 2vw;
    margin: 2% 2%;
    /* padding: 2% 2%; */
}
.produto-selecionado
{
    list-style: none;
    display: grid;
    grid-template-columns: .1fr 1fr .4fr;
}

.produto-img
{
    width: 12.5vw;
    height: 100%;   
    margin-right: 2vw;
}

.produto-dados
{
    display: grid;
    grid-template-columns: 1fr;
}

/* .produto-nome, .produto-dados, #ID, .produto-preco
{
    font-family: var(--Poppins);
    font-size: 1.2vw;
    font-weight: 550;
    color: var(--cinza-azulado);
} */

.produto-nome
{
    margin-bottom: 0%;
    font-size: 1.3vw;
    font-weight: 800;
    color: var(--marrom);
}

.produto-informacoes
{
    padding-top: 4%;
    font-family: var(--Poppins);
    font-size: 1.2vw;
    /* font-size: 1.3em; */
    font-weight: 550;
    color: var(--cinza-azulado);
    display: flex;
    flex-direction: column;
    gap: .5vw;
}

.produto-coordenar
{
    display: inline-flex;
    border: 1px solid var(--marrom);
    border-radius: .3vw;
    gap: .3vw;
}

.produto-quantidade
{
    display: inline-flex;
    /* padding-top: 12.4rem; */
    padding-top: 9.2vw;
    font-size: 1vw;
    align-items: center;
    justify-content: center;
}

.produto-diminuir, .produto-aumentar
{
    background-color: var(--marrom);
    color:#F2E0C0;
    /* width: 2vw; */
    font-size: 1.5vw;
    display: flex;
    justify-content: center;
    height: 40%;
}

.produto-aumentar:hover, .produto-diminuir:hover
{
    cursor: pointer;
    background-color: #362e26d6;
}


.produto-quantia
{
    display: flex;
    justify-content: center;
    width: 1vw;
    font-size: 1.3vw;
    margin: 0 .1vw;
}

.produto-diminuir, .produto-quantia, .produto-aumentar
{
    font-family: var(--Poppins);
    display: flex;
    align-items: center;
    height: 2.1vw;
    width: 2.5vw;
}

.linha-divisoria
{
    margin: 1% 0;
    border-radius: .2vw;
    width: 100%;
    /* border-bottom: .5vw solid var(--marrom); */
    border-bottom: .2vw solid var(--cinza-azulado);
}

.lado-direito
{
    display: grid;
    grid-template-columns: 1fr;
    border-radius: 1vw;
    background-color: transparent;

    margin: 6% 2.5% 37% 2%;
    /* margin: 6% 2.5% 0% 2%; */
    /* padding: 1% 4% 0% 4.5%; */
}

.informacoes-endereco
{
    border: 5px solid var(--cinza-azulado);
    background-color: var(--cinza-claro-azulado);
    border-radius: .5vw;
    padding: 3.5% 2%;
    display: grid;
    gap: 1vw;
}

.endereco-titulo
{
    font-family: var(--Poppins);
    color: var(--marrom);
    font-weight: 600;
    font-size: 2vw;
}

.inserir-informacoes
{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.enderecos
{
    color: var(--marrom);
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 15%;
    margin-bottom: 9%;
    /* display: flex;
    flex-direction: column;
    gap: .4vw; */
}

.titulo, .entrega
{
    font-size: 1.59vw;
    font-family: var(--Poppins);
    font-weight: 700;
    color: var(--marrom);
}
.titulo, .inputs
{
    margin-right: 15%;
}

.inputs
{
    border: none;
    border-radius: .5vw;
    font-size: 1vw;
    font-family: var(--Poppins);
    color: #62727F;
    padding: 0 .7vw;
    height: 2.5vw;
}

/* #rua, .ruas
{
    margin-right: -5%;

} */

#numer0, .numero
{
    margin-left: 30%;
}

#estado, .estados
{
    margin-right: 10%;
}

.cidades
{
    margin-left: 5%;
}

#cidade
{
    text-align: center;
}

#bairro, .bairros
{
    margin-right: 0%;
}

.ceps
{
    margin-left: 15%;
}

.nomes
{
    width: 20vw;
}

#nome
{
    width: 100%;
}

.inputs:focus
{
    outline: none;
}





.botao-prosseguir
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-radius: .5vw;
    background-color: var(--cinza-claro-azulado);
    border: 2px solid var(--cinza-azulado);
    text-decoration: none;
    color: var(--marrom);
    text-align: center;
    font-family: var(--Poppins);
    font-weight: 600;
    font-size: 1.5vw;
    width: 90%;
    margin: 20% 1% 0 1%;
}

.botao-prosseguir:hover
{
    background-color: transparent;
    color: var(--cinza-azulado);
}



/* Formas Pagamento:droptable */

.formas-pagamento
{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.pagamento-selecao
{
    display: flex;
    flex-direction: column;
    gap: 5%;
}

#formaPagamento, option
{
    background-color: var(--cinza-branco);
    width: 50%;
    /* height: 2.5vw;     */
    height: 4vh;    
    font-size: .9vw;
    font-family: var(--Inter);
    color: var(--cinza-azulado);
    font-weight: 600;
    border-radius: .5vw;
}




/*
Droptable:
ordem:
Pix
Cartao
Boleto
*/


.pix-selecionado
{
    background-color: var(--cinza-azulado);
    display: grid;
    display: none;
    grid-template-columns: 1fr;
    /* display: flex;
    flex-direction: column; */
    justify-content: center;
    text-align: center;
    align-items: center;
    /* height: 25vw; */
    /* height: 29rem; */
    margin: 2%;
    border-radius: 2vw;
}

.img-selecionada
{
    padding-top: 2%;
    width: 62%;
    margin: 5%;
    padding-bottom: 10%;
}

.texto-complementar
{
    font-family: var(--Poppins);
    color: var(--marrom);
    text-align: center;
    font-size: 1.8vw;
    font-weight: 700;
}


.cartao-selecionado
{
    margin-top: 10%;
    background-color: var(--cinza-azulado);
    display: grid;
    /* display: none; */
    grid-template-columns: 1fr 1fr;
    /* width: 100%; */
    width: 22.628vw;
}

.cartao
{
    font-size: .9vw;
}

.cartaos
{
    width: 90%;
    height: 10%;
}