/* ***********************************
               GERAL               */
/*************************************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    white-space: nowrap;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--bege-claro);
}

/*************************************/
/*              HEADER               */
/*************************************/
header {
    background-image: url(../img/home-img.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    /* display: flex;
    flex-direction: column;
    
    provavelmente isso está causando problema no layout geral */

}

.navegacao,
.nav-links,
.perfil-links,
.linha-separadora {
    display: inline-flex;
    align-items: center;
}


.navegacao {
    width: 100%;
    background-color: rgba(var(--cinza-azuladoRGB), 0.85);
    height: clamp(2rem, 7.5vw, 9rem);
    padding: 0 2vw;
    list-style: none;
    justify-content: space-around;

}

.logo {
    width: clamp(7vw, 10vw, 12rem);
    height: auto;
    margin-top: 3%;
    padding: 0 2vw;
    border-radius: 50%;
    object-fit: contain;
}

.linha-separadora {
    width: .3vw;
    background-color: var(--cinza-claro-azulado);
    height: 75%;
}


.nav-links {
    align-items: center;
    gap: 10vw;
    margin: 0 2vw;
}

.perfil-links {
    margin-left: 2vw;
    display: inline-flex;
    align-items: center;
    gap: 15%;
}



.link-ativo {
    font-family: var(--Poppins);
    font-size: clamp(1vw, 1.5vw, 1.5rem);
    font-weight: 600;
    color: #fff;
    text-decoration: none;
}

.link-ativo:hover {
    color: var(--vermelho-escuro);
    transition: 0.4s;
}

button {
    background: none;
    border: none;
    cursor: pointer;
}

.img-perfil {
    width: 4vw;
    height: auto;
    margin-right: 1vw;
    padding: auto;
}

.secao-banner {
    margin: 5vh 0vw 0vh 10vw;
    display: flex;
    flex-direction: column;
}

h1,
h2,
p {
    width: fit-content;
}

.titulo-banner {
    font-family: var(--Lobster);
    font-size: 6vw;
    color: var(--bege-claro);
    font-weight: 400;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.7);
    margin-bottom: 2rem;
}

.texto-sobre {
    color: var(--bege-claro);
    font-size: clamp(1vw, 1.5vw, 1.6rem);
    font-family: var(--Poppins);
    font-weight: 600;
    text-shadow: 7px 3px 7px rgba(0, 0, 0, 0.9);
    margin: 3rem 0rem 1.5rem 0rem;
}

.link-encomenda {
    color: var(--bege-claro);
    font-size: 2.5vw;
    font-family: var(--Poppins);
    font-weight: 600;
    text-decoration: underline;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.7);
}

.link-encomenda:hover {
    color: var(--cinza-claro-azulado);
    transition: 0.3s;
    font-size: 2.4vw;
    cursor: pointer;
}



/*************************************/
/*          SEÇÃO MODELOS            */
/*************************************/
.modelos {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3vw;
}

.texto-titulo {
    margin-top: 10vh;
    text-align: center;
    font-family: var(--Lobster);
    color: var(--marrom);
    font-size: 3rem;
    font-weight: 400;
    text-shadow: 2px 4px 4px rgba(255, 255, 255, 0.5);
    margin-bottom: 3rem;
    font-size: 3.5vw;
    margin-bottom: 0;
}

.linha-divisoria {
    /* width: 40vw; */
    width: 40%;
    height: 1vh;
    background-color: var(--marrom);
    border-radius: 1vw;
    margin: 1rem auto 1rem auto;
}


.modelos-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    gap: 10vw;
}

.modelo {
    margin-left: 2vw;
    margin-right: 2vw;
    width: 15vw;
    height: auto;
}

.modelo-img {
    width: 100%;
    height: 60vh;
    border-radius: 1vw;
    border: 0.4vw solid var(--borda-azul-escura);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.modelo-texto {
    text-align: center;
    font-family: var(--Poppins);
    font-size: clamp(1vw, 1.5vw, 1.5rem);
    font-weight: 600;
    color: var(--marrom);
    margin-top: .5rem;
    margin-left: auto;
    margin-right: auto;
}

#modelo1 {
    background-image: url(../jpeg/img1.jpeg);
}

#modelo2 {
    background-image: url(../jpeg/img2.jpeg);
}

#modelo3 {
    background-image: url(../jpeg/img3.jpeg);
}


.link-portifolio {
    text-decoration: underline;
    color: var(--marrom);
    font-size: clamp(1vw, 2.1vw, 2.1rem);
    text-align: center;
    font-family: var(--Poppins);
    font-weight: 600;
}

.link-portifolio:hover {
    color: var(--cinza-azulado);
    transition: 0.4s;
    cursor: pointer;
    font-size: clamp(1vw, 2.1vw, 2rem);
}

/*************************************/
/*            SOBRE NÓS              */
/*************************************/

.sobre-nos {
    margin-top: 5%;
    background-image: url(../jpeg/bolasDesktop.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--cinza-claro-azulado);
    border: 1.8px solid black;
    box-shadow: 10px 0px 30px rgba(0, 0, 0, 0.4);
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10%;
}

.painel-direito,
.painel-esquerdo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10%;
}

.painel-esquerdo {
    margin: 10% 0 20% 5vw;

    gap: 3vw;
}

.texto-esquerdo {
    color: var(--marrom);
    text-align: center;
    font-size: clamp(1vw, 1.4vw, 1.5rem);
    font-family: var(--Poppins);
    font-weight: 600;
}

.titulo {
    font-family: var(--Lobster);
    font-size: clamp(1.9vw, 2vw, 5.5rem);
    color: var(--marrom);
    font-weight: 400;
    text-shadow: 2px 4px 4px rgba(255, 255, 255, 0.5);
    margin-bottom: 10%;
}

.painel-direito {
    margin-right: 5vw;
}

.direito-imagem {
    width: 20vw;
    height: 80vh;
    border-radius: 1vw;
    border: 5px solid var(--borda-azul-escura);
    padding-right: 5vw;
}

#direito-catarina {
    background-image: url(../jpeg/catarinaCroche.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}

/*************************************/
/*             CONTATO               */
/*************************************/
.contato {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin-bottom: 10%; */
}

.dados {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 5%;
    gap: 30vw;
}

.informacoes {
    display: grid;
    grid-template-columns: 1fr;
    margin: 5% 0% 0% 20%;

    /* gap: 2vh; */
}

.contatos {
    display: flex;
    flex-direction: column;
    gap: 4vh;
    align-self: start;
    padding-bottom: 10vh;
}

.linha-contato {
    list-style: none;
    display: inline-flex;
    align-items: center;
}

.icone-contato {
    height: 2.5vw;
    width: 2.1vw;
}

.texto-informacoes {
    font-family: "Poppins", sans-serif;
    font-size: clamp(1vw, 1.8vw, 1.5rem);
    margin-left: 2.5%;
    font-weight: 600;
    color: var(--marrom);
}

.texto-informacoes:hover,
.icone-contato:hover {
    cursor: pointer;
    transition: 0.3s;
    font-size: 1.4vw;
}

#instagram {
    color: var(--marrom);
}

.lado-direito {
    display: flex;
    align-items: center;
    justify-content: center;
}

.lista-inserir {
    display: grid;
    grid-template-columns: 1fr;
    gap: clamp(1vw, 10vw, 2rem);
}

.inserir {
    display: grid;
    gap: 0.5rem;
}

.titulo-caixa {
    font-family: var(--Poppins);
    font-size: clamp(1vw, 1.8vw, 1.5rem);
    font-weight: 600;
    color: var(--marrom);
}

.inserir-dados {
    border: 4px solid #362e26;
    border-radius: 10px;
    height: clamp(2vw, 3vw, 6vh);
    width: 30vw;
    background-color: transparent;

    font-family: "Poppins", sans-serif;
    font-size: clamp(1vw, 1.5vw, 1.3rem);
    font-weight: 600;
    text-align: left;
    padding-left: 2%;
    color: var(--marrom);
}

.botao-envio {
    width: 20vw;
    height: clamp(2vw, 3vw, 5.7vh);
    border-radius: .8vw;
    border: .25vw solid var(--borda-azul-escura);
    font-size: clamp(1vw, 1.8vw, 1.5rem);
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    text-align: center;
    color: var(--marrom);
    background-color: var(--cinza-claro-azulado);
    margin: 3rem auto 3.5vh auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.botao-envio:hover {
    cursor: pointer;
    transition: 0.3s;
    background-color: transparent;
    color: var(--borda-azul-escura);
}

/*************************************/
/*             FOOTER                */
/*************************************/
footer {
    background-color: rgba(var(--cinza-azuladoRGB), 0.90);
    height: clamp(15vw, 20vw, 30vh);
    width: 100%;
}

.rodape-conteudo {
    display: inline-flex;
    justify-items: flex-start;
    align-items: normal;
    gap: 10vw;
    margin: 2% 2vw 2% 2vw;
}

#logo-rodape {
    width: 8vw;
    height: 16vh;
    border: 2px solid var(--bege-claro);
    border-radius: 50%;
    object-fit: cover;
    margin-top: auto;
    margin-bottom: auto;
}

nav {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    list-style: none;
    /* 
    display: inline-flex;
    gap: 40%; */
}

.lista-rodape {
    white-space: nowrap;
    display: flex;
    flex-direction: column;
    list-style: none;
    font-family: var(--Poppins);
    text-decoration: none;
}

.titulo-footer {
    font-weight: 600;
    font-size: 1.4vw;
    color: var(--branco);
    text-decoration: none;
    margin-bottom: 5%;
    font-family: var(--Poppins);
}

.nav-lists {
    color: var(--marrom);
    text-decoration: none;
    font-family: var(--Poppins);
    font-size: 1.1vw;
    font-weight: 600;
    margin-bottom: clamp(1vw, 1.4vw, 1.6vh);
}

.nav-lists:hover {
    cursor: pointer;
    transition: 0.3s;
    font-size: 1.1rem;
}

.logo-gardenia-crochet {
    width: clamp(6vw, 7.5vw, 12vw);
}

#lista-rodape1 {}

#lista-rodape2 {
    margin-left: 20%;
}

.procurar {
    margin-left: 60%;
    background-color: var(--bege-claro);
    border-radius: .8vw;
    width: 100%;
    height: 42.5%;
    text-align: start;
    font-family: var(--Lobster);
    display: grid;
    grid-template-columns: 1fr 0.1fr;
    align-items: center;
    margin-top: 3%;
}

.procurar-campo {
    outline: none;
    border: none;
    width: 15vw;
    background-color: transparent;
    text-align: start;
    font-family: var(--Poppins);
    padding-left: 1vw;
    padding-top: 3%;
    margin-bottom: 1.5%;
    font-size: 1.1vw;
    font-weight: 600;
    color: var(--marrom);
}

.procurar-enviar {
    width: 6vw;
    height: 100%;
    border-radius: 0px .8vw .8vw 0;
    background-color: var(--marrom);
}

.procurar-botao {
    width: 2vw;
}

.linha-footer {
    width: 90%;
    height: 1vh;
    background-color: var(--bege-claro);
    border-radius: 0.3vw;
    margin: 0 auto 1vh auto;
}

.direitos {
    font-family: var(--Poppins);
    font-style: italic;
    font-size: 0.9vw;
    font-weight: 600;

    color: var(--marrom);
    margin: 5px auto 5px 4.9vw;
}

@media (max-width: 425px) {

    body {
        display: flex;
        flex-direction: column;
    }

    header {
        height: 44vh;
    }

    main {
        display: flex;
        flex-direction: column;
        gap: 5vh;
    }

    .navegacao {
        height: clamp(2rem, 20vw, 9rem);
    }

    .nav-links {
        gap: 2vw;
    }

    .link-ativo {
        font-size: clamp(2vw, 2.2vw, 3rem);
    }

    .linha-separadora {
        width: .2vw;
    }

    .logo {
        width: clamp(10vw, 18vw, 12rem);
        border: .2vw solid var(--marrom);
    }

    #perfil {
        display: none;
    }

    .img-perfil {
        width: 13vw;
    }

    .secao-banner {
        margin-top: 3vh;
    }

    .titulo-banner {
        font-size: clamp(4vw, 8vw, 9rem);
        margin-bottom: 0;
    }

    .texto-sobre {
        font-size: clamp(1vw, 2.6vw, 5rem);
        margin: 1rem 0;
    }

    .link-encomenda,
    .link-encomenda:hover {
        font-size: 5.5vw;
    }

    .texto-titulo {
        font-size: 6.5vw;
        margin-top: 4vh;
    }

    .modelos-grid,
    .sobre-nos,
    .contato {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .modelos-grid {
        gap: 10vh;
    }

    .modelo {
        width: 50vw;
        height: 60vh;
    }

    .modelo-texto {
        font-size: clamp(2vw, 4vw, 5rem);
    }

    .link-portifolio,
    .link-portifolio:hover {
        margin-top: 10%;
        font-size: 4.5vw;
    }

    .texto-esquerdo {
        font-size: clamp(2vw, 3vw, 5rem);
    }

    .titulo {
        font-size: 7vw;
        margin-bottom: 5%;
    }


    .painel-direito {
        margin: 0;
        margin-bottom: 10%;
    }

    .direito-imagem {
        width: 70vw;
        height: 60vh;
    }

    .dados
    {
        gap: 14vw;
    }

    .inserir-dados{
        height: clamp(2vw, 8vw, 6rem);
    }

    .titulo-caixa {
        font-size: clamp(2vw, 3vw, 5rem);
    }

    .texto-informacoes{
        font-size: clamp(2vw, 2.4vw, 5rem);
    }

    .botao-envio {
        width: 29vw;
        height: clamp(4vw, 7vw, 5vh);
        font-size: clamp(2vw, 3vw, 5rem);

    }
    .texto-Poppins
    {
        font-family: var(--Poppins);
        font-size: 3.1vw;
    }

    .inserir-dados
    {
        font-size: clamp(2vw, 3vw, 5rem);
    }

    footer {
        height: clamp(15vw, 30vw, 30vh);
    }

    .logo-gardenia-crochet {
    height: 7vh;
    border-radius: 0%;
    width: clamp(6vw, 14vw, 12rem);
    }

    .titulo-footer
    {
    font-size: clamp(2vw, 2.4vw, 2rem);
    }

    .nav-lists
    {
        font-size: clamp(2vw, 2.1vw, 2rem);
    }
    .procurar
    {
    margin-top: 44%;
    margin-left: 12%;
    height: 28.5%;        
    }

    .procurar-campo
    {
        font-size: clamp(1.5vw, 1.6vw, 2rem);
    }

    .procurar-botao
    {
        width: 3vw;
    }

    .linha-footer
    {
        height: .21vh;
    }

    .direitos
    {
        font-size: clamp(1.5vw, 1.7vw, 2rem);
    }

}