@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



html, body {
  overflow-x: hidden;
  width: 100%;
}


body {
  box-sizing: border-box;
  background-color: var(--bege-claro);
  color: var(--cinza-azulado);
  padding: 5vh;
  margin: 0% 1% 0% 1%;
}


.tela {
  display: grid;
  grid-template-columns: 1.5fr 2fr;
  gap: 8vw;
  width: 100%;

}

.tela-esquerda {
  padding: 2% 2%;
  margin: 0% 0% 10% 2%;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  gap: 2.5vh;
}

.forma-pagamento {
  font-family: "Lobster", sans-serif;
  /* font-size: 5.5rem; */
  font-size: 3vw;
  font-weight: 100;

  color: var(--marrom);
  /* width: 41.5vw; 
  /* white-space: nowrap; */
}

.line2 {
  border-radius: .2vw;
  width: 80%;
  height: .8vh;

  border-bottom: .5vw solid var(--marrom);
  
  background-color: var(--marrom);
}

.linha {
  border-bottom: .5vw solid var(--marrom);
  border-radius: .2vw;
  /* width: 80%; */
  width: 23.9vw;
}

.texto-esquerda {
  font-family: "Lobster", sans-serif;
  /* font-size: 4rem; */
  font-size: 3.5vw;
  font-weight: 100;
  color: var(--marrom);
}

.svg {
  height: 7vh;
  width: 6vw;
  transition: transform 0.4s ease;
}

.svg:hover {
  transform: red;
  cursor: pointer;
}


.seta {
  /* height: 6vh; */
  height: 70%;
  width: 2vw;
  transition: transform 0.4s ease;
}

.carton {
  /* height: 5.9vh; */
  height: 70%;
  width: 2vw;


  margin-top: 1vh;
  transition: transform .4s ease;
}

.seta:hover,
.carton:hover {
  transform: rotate(90deg);
}


.quadros {

  display: flex;
  flex-direction: column;
  gap: 2.2vh;
}

.aba {
  width: 23vw;
  height: 10vh;
  /* width: 69%; */

  background-color: var(--cinza-claro-azulado);
  border-radius: 2vh;
  padding: 1vh 1.5vw 1vh 1vw;

  display: flex;
  justify-content: space-between;
  align-items: center;
}


.tela-direita {
  display: grid;
  grid-template-columns: 1fr;

  padding: .5vh 1vw;
  margin: 0% 5% 10% 13%;


}

.banner-carrinho {
  background-color: var(--cinza-claro-azulado);
  border-radius: 1vh;
  display: grid;
  grid-template-columns: 1fr;
  align-items: normal;

  font-family: "Lobster", sans-serif;
  font-size: 1.5rem;
  color: var(--marrom);

}

.linha-carrinho {
  margin-left: 4%;
  border-radius: .9vw;
  width: 75%;
  height: .8vh;
  background-color: var(--marrom);

}

.titulo-texto {
  padding: 4%;
  font-family: "Lobster", sans-serif;
  /* font-size: 5rem; */
  font-size: 4vw;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
}

.produtos-lista {
  list-style: none;
  font-family: "Lobster", sans-serif;
  display: flex;
  flex-direction: column;

  color: #FFFF;
  /* gap: 4vh; */
  gap: .5vh;
  font-size: 2rem;
  align-self: flex-end;

}

.produto {
  display: inline-flex;
  justify-content: flex-start;
  align-items: flex-end;
  /* margin: 5%; */
  margin: 2.5%;

}


.imagem {
  display: inline-flex;
  justify-content: flex-start;
  /* width: 40%;
  height: 40%; */
  width: 30%;
  height: 9.5vw;

  background-color: #0000;
  /* margin: 5% 0% 0% 2.0%; */
  margin: 2.5% 0% 0% 2.2%;;
}

.texto-produto {
  font-size: 1.5vw;
  /* font-size: 2rem; */
  font-weight: 500;

  display: inline-flex;
  align-items: center;
  justify-content: center;

     margin-left: 4%;

}

.nome-produto,
.quantidade,
.preco {
  font-family: "Lobster", sans-serif;

}

.total-pagar, 
p.soma
{
  font-family: "Lobster", sans-serif;
  /* font-size: 5rem; */
  font-size: 4vw;
  font-weight: 500;
  display: flex;
  justify-content: space-around;
}





.efetuar-pagamento {
  display: flex;
}

.pagamentos {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 10% 10% 5% 15%;
  height: 80%;
  width: 39vw;
  background-color: var(--cinza-claro-azulado);

  border-radius: 2vw;
  border-color: transparent;
  font-family: "Poppins", sans-serif;
  
  /* font-size: 4rem; */
  font-size: 3vw;
  font-weight: 500;

  color: #FFFF;
}

.pagamentos:hover {
  cursor: pointer;
  background-color: var(--vermelho-escuro);
}


@media (max-width: 768px)
{
body
{
  box-sizing: border-box;
  background-color: var(--bege-claro);
  color: var(--cinza-azulado);
}

.tela
{
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        justify-content: center;
        place-items: center;
}

.tela-esquerda
{
margin: 5% 0% 10% 0%;
}
.forma-pagamento
{
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 5.5vw;
}

.line2
{
  border-radius: 4vw;
  width: 52vw;
  height: .9vw;
  border-bottom: .5vw solid var(--marrom);
  background-color: var(--marrom);
}

.linha
{
  display: flex;
  border-bottom: .5vw solid var(--marrom);
  border-radius: .2vw;
  /* width: 80%; */
  width: 28vw;
}


.quadros {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2vh;
}

.aba {
  /* width: 32vw; */
  width: 62%;
  /* height: 11vh; */
  height: 10vh;
  height: 10vw; /* provavelmente de certo*/
  background-color: var(--cinza-claro-azulado);
  border-radius: 2vh;
  padding: 1vh 1.5vw 1vh 1.5vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.texto-esquerda {
  font-family: "Lobster", sans-serif;
  /* font-size: 4rem; */
  font-size: 4.9vw;   /* provavelmente de certo*/
  /* font-size: 2.5rem; */
  font-weight: 100;
  color: var(--marrom);
}

.svg {
  /* height: 7vh; */
  height: 80%;
  width: 8.5vw;
  transition: transform 0.4s ease;
}

.svg-pix
{
  /* height: 19vh; */
  height: 9vw;
  /* width: 10vw; */
  width: 8vw;
  transition: transform 0.4s ease;
}

.svg:hover {
  transform: red;
  cursor: pointer;
}


.seta {
  /* height: 6vh; */
  height: 70%;
  width: 3.5vw;
  transition: transform 0.4s ease;
}
.boletoo
{
  margin-top: 1.5vh;
}

.carton {
  /* height: 5.9vh; */
  height: 70%;
  width: 3.5vw;


  margin-top: 1vh;
  transition: transform .4s ease;
}



.seta:hover,
.carton:hover {
  transform: rotate(90deg);
}


.tela-direita {
  display: grid;
  grid-template-columns: 1fr;

  padding: .5vh 1vw;
   margin-left: 3.5vw; /*provavelmente de certo*/


}

.banner-carrinho {
  background-color: var(--cinza-claro-azulado);
  border-radius: 1vh;
  width: 70vw;
  display: grid;
  grid-template-columns: 1fr;
  align-items: normal;

  font-family: "Lobster", sans-serif;
  font-size: 1.5rem;
  color: var(--marrom);

}

.linha-carrinho {
  margin-left: 10%;
  border-radius: .9vw;
  width: 75%;
  height: .8vh;
  background-color: var(--marrom);

}

.titulo-texto {
  margin-left: 12vw;
  padding: 4%;
  font-family: "Lobster", sans-serif;
  /* font-size: 5rem; */
  font-size: 6.5vw;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
}

.produtos-lista {
  list-style: none;
  font-family: "Lobster", sans-serif;
  display: flex;
  flex-direction: column;

  color: #FFFF;
  gap: 1.5vh;
  font-size: 2rem;
  align-self: flex-end;

}

.produto {
  display: inline-flex;
  justify-content: flex-start;
  align-items: flex-end;
  margin: 2% 2% 2% 10%;

}
/**/

.imagem {
  display: inline-flex;
  justify-content: flex-start;
  width: 35%;
  height: 35%;

  background-color: #0000;
  margin: 5% 0% 0% 2.0%;
  
}

.texto-produto 
{
   font-size: 3vw;
/* font-size: 2rem; */
   font-weight: 500;
 
   display: inline-flex;
   align-items: center;
   justify-content: center;
   margin-left: 4%;
   gap: .5vw;
}

.nome-produto, .quantidade, .preco {
  font-family: "Lobster", sans-serif;
}

.total-pagar, p.soma 
{
  font-family: "Lobster", sans-serif;
  /* font-size: 5rem; */
  font-size: 6vw;
  font-weight: 500;

  margin: 0% 10%;
}


.efetuar-pagamento {
  display: flex;
}

.pagamentos {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 55%;
  width: 45vw;
  background-color: var(--cinza-claro-azulado);

  border-radius: 2vw;
  border-color: transparent;
  font-family: "Poppins", sans-serif;
  /* font-size: 4rem; */
  font-size: 4.9vw;
  font-weight: 500;

  color: #FFFF;

  margin: 5% 0% 20% 18.45% ;
}

.pagamentos:hover {
  cursor: pointer;
  background-color: var(--vermelho-escuro);
}



}