@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');




body {
  box-sizing: border-box;
  background-color: var(--bege-claro);
  color: var(--cinza-azulado);
  padding: 0;
  margin: 1% 3% 1% 3%;     
}

.tela {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 20%;
  padding-top: 2%;

}


.tela-esquerda {
  padding: 1vh;
  margin: 0% 0 10% 0%;
  
       /* 5vh 0 1vh 6vh; */
}


.tela-esquerdaa {
  display: flex;
  flex-direction: column;
  align-self: start;
  gap: 3vh;
  /* margin: 0.09vh 1vh 0vh 1vh; */

}

.forma-pagamento {
  font-family: "Lobster", sans-serif;

  font-size: 5.5rem;
  font-weight: 100;
  color: var(--marrom);
  width: 20vw;
  white-space: nowrap;
}

.line2 {
  /* width: 175%;
  border-bottom: 0.5vw solid var(--marrom);
  border-radius: 0.2vw; */


  border-radius: 0.2vw; 
  width: 43vw;
  height: 0.8vh;
  
  background-color: var(--marrom); /* cor da linha */
}

.quadros {
  display: flex;
  flex-direction: column;
  gap: 2vh;
}

.aba {
  background-color: var(--cinza-claro-azulado);
  border-radius: 2vh;
  padding: 1vh 2vh;

  width: 27.5vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.texto-esquerda {
  font-family: "Lobster", sans-serif;
  font-size: 500%;
  font-weight: 100;
  color: var(--marrom);
}

.linha {

  border-bottom: 0.5vw solid var(--marrom);
  border-radius: 0.2vw;
  width: 65%;
}

.svg {  
  height: 10vh;
  transition: transform 0.4s ease;
}

.svg:hover{
  transform: red;
  cursor: pointer;
  
}


.pix {
  height: 11vh;
}

.seta
{
  height: 6vh;
  
  display: flex;
  align-items: center;
  
  justify-content: center;
  margin-top: 1vh;
  transition: transform 0.4s ease;
}

.seta:hover
{
transform: rotate(90deg);

}


.tela-direita
{
  display: flex;
  flex-direction: column;
  column-width: 5vh;

  padding: .5vh;
  margin: 0% 10% 10% 25%;
}

.banner-carrinho
{
  background-color: var(--cinza-claro-azulado);
  border-radius: 1%;
  display: grid;
  grid-template-columns: 1fr;
  align-items: normal;
  font-size: 1.5rem;
  color: var(--marrom);
}

.linha-carrinho
{
  margin-left: 4%;
  border-radius: 0.9vw;
  width: 75%;
  height: 0.8vh;
  background-color: var(--marrom);
}

.titulo-texto
{
  padding: 1vh;
}

h3
{
  font-family: "Lobster", sans-serif;
  font-size: 5rem;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
}

.produto
{
  display: inline-flex;
  justify-content: flex-start;
  align-items: flex-end;
  margin: 2vh 2vh 2vh 2vh;
  gap: 2vh;

}

.imagem
{
  display: inline-flex;
  justify-content: flex-start;
  width: 40%;

  background-color: #0000;
  margin: 3% 0% 0% 2.5%;
}

.texto-produto {
  margin: 0;
  font-size: 1.5rem;
  font-family: "Lobster", sans-serif;

  font-weight: 500;
  display: inline-flex;
  align-items:     center;
  justify-content: center;
}

.nome-produto, .quantidade, .preco {
  font-family: "Lobster", sans-serif;
}

.efetuar-pagamento
{
  display: flex;
}

.pagamentos{
  height: 15vh;
  width: 45vw;
  background-color: var(--cinza-claro-azulado);
  border-radius: 2.5vh;
  border-color: transparent;
  font-family: "Poppins", sans-serif;
  font-size: 3vw;
  font-weight: 500;
  margin: 10% 2% 0% 10%;

}



@media (max-width: 600px)
{
  .tela
  {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .tela-esquerda
  {
  padding: 1vh;
  margin: 1% 0% 0% 0%;
  }

  .tela-esquerdaa
  {
        display: flex;
    flex-direction: column;
    align-items:     center;
    justify-content: center;
    align-self:      center;

    gap: 2.5vh;
    margin: 0.09vh 1vh 0vh 1vh;
  }

  .forma-pagamento
  {
   display: flex;
   align-items: center;

    font-size: 4vh;
    text-align: center;
    justify-content: center;
  }
  .line2
  {
    border-radius: 1.2vw;
    width: 60vh;
    height: 0.5vh;
    background-color: var(--marrom); 
  } 
  

  .texto-esquerda
  {
    font-size: 5vh;
    font-weight: 100;
    color: var(--marrom);
  } 
  .linha
  {
    border-bottom: 0.8vw solid var(--marrom);
    border-radius: 1.0vw;
    
  }

  .svg
  {
    height: 5vh;
  }

  .pix
  {
    height: 7vh;
  }

  .seta
  {
    height: 3.5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0.1vh;
  }

  .quadros
  {
    display: flex;
    flex-direction: column;
    gap: 3vh;
  }

  .aba
  {
    background-color: var(--cinza-claro-azulado);
    border-radius: 1.5vh;
    padding: 0.5vh 1vh;

    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  

}