/* ============================
   FONTES
============================ */
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* ============================
   GERAL
============================ */
html, body {
    overflow-x: hidden;
    width: 100%;
}

body {
    box-sizing: border-box;
    background-color: var(--bege-claro);
    color: var(--cinza-azulado);

    /* padding: 5vh; anteriormente... */
    /* padding-top: 5vh; */
    /* padding: 5vh; */
    /* padding-left: 5vh;
    padding-right: 5vh;
    antes
    */
    /* padding-bottom: 5vh; é o que está impedindo o overflow */
    /* margin: 1% 1% 1% 1%; */
}

/* ============================
   LAYOUT PRINCIPAL
============================ */
.tela {
    display: grid;
    grid-template-columns: 1fr .1fr 1fr;
    gap: 3vw;
    max-width: 100%;
    margin: 0% 1% 1% 1%;
    padding: 0% 5vh;
    /* eh */
}

/* ============================
   LADO ESQUERDO
============================ */
.tela-esquerda {
    display: grid;
    grid-template-columns: 1fr;
    padding: .5vh 0vw;
    margin: 0% 2% 1% 1%;
    padding-top: 5vh;
    padding-bottom: 5vh;
    gap: 4vh;
  }

/* ============================
   BANNER CARRINHO
============================ */
.banner-carrinho {
    background-color: var(--cinza-claro-azulado);
    border-radius: 1vh;
    display: grid;
    grid-template-columns: 1fr;
    align-items: normal;
    font-family: "Lobster", sans-serif;
    font-size: 1.5rem;
    color: var(--marrom);
    /* width: 35vw; */
    width: 100%;
    height: 100%;
}

/* ============================
   ELEMENTOS DO CARRINHO
============================ */
.linha-carrinho {
    margin-left: 2%;
    border-radius: .9vw;
    width: 80%;
    height: .8vh;
    background-color: var(--marrom);
}

.titulo-texto {
    padding: 2% 1% 0% 1%;
    margin: 2% 2% 0% 4%;
    font-family: "Lobster", sans-serif;
    /* font-size: 5rem; */
    font-size: 5vw;
    font-weight: 500;
}

.produtos-lista {
    list-style: none;
    font-family: "Lobster", sans-serif;
    display: flex;
    flex-direction: column;
    color: #FFFF;
    gap: .5vh;
    /* font-size: 2rem; */
    font-size: 2vw;
    align-self: flex-end;
}

.produto {
    display: inline-flex;
    justify-content: flex-start;
    align-items: flex-end;
    margin: 2.5%;
}

.imagem {
    display: inline-flex;
    justify-content: flex-start;

    width: 27%;
    height: 9vw; /*mais responsivo porem menos didático*/  
    /* width: 40%;
    height: 100%; menos responsivo porem mais didatico*/

    margin: 2.5% 0% 0% 2.2%;
}

.texto-produto {
    font-size: 1.5vw;
    /* font-size: 2rem; */
    font-weight: 500;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-left: 8%;
}

.nome-produto,
.quantidade,
.preco {
    font-family: "Lobster", sans-serif;
}

.total-pagar,
p.soma, p.rs {
    font-family: "Lobster", sans-serif;
    /* font-size: 5rem; */
    font-size: 4vw;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.total-pagar
{
  margin: 0% 10% 0% 0%;
}
p.soma
{
  text-decoration: underline;
}

/* ============================
   BOTÃO DE PAGAMENTO
============================ */
.efetuar-pagamento {
    display: flex;
}

.pagamentos {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100%; */
    height: 10vw;
    width: 28vw;
    background-color: var(--cinza-claro-azulado);
    border-radius: 2vw;
    border-color: transparent;
    font-family: "Poppins", sans-serif;
    /* font-size: 4rem; */
    font-size: 3vw;
    font-weight: 500;
    color: #FFFF;
    margin: 10% 0% 10% 12%;
}

.pagamentos:hover {
    cursor: pointer;
    background-color: var(--vermelho-escuro);
}

/* ============================
   LINHA DIVISÓRIA
============================ */
.linha-divisoria 
{
    padding-top: 5vh;
    padding-bottom: 5vh;
    width: 3vw;
    height: 100%;
    background-color: var(--marrom);
    border-radius: .5vw;
}

/* ============================
   LADO DIREITO
============================ */
.tela-direita {
    /* padding-top: 5vh;
    padding-bottom: 5vh; se der cagada retoma */

    margin: 10% 0% 0% 0%;
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 2vw;
    background-color: var(--cinza-claro-azulado);
    border-radius: 1vh;
    height: 75vh;
    width:  45vw;
    gap: 18vh;
}

.linha-superior
{
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;

  margin: 0% 1% 0% 8%;
  

}

.titulo-esquerda
{
  font-family: "Lobster", sans-serif;
  font-size: 3.8vw;
  font-weight: 500;

  color: var(--marrom);
  
}

.logo
{
width: 11vw;
height: 20vh;
border: var(--marrom) solid;
border-radius: 100%;
margin-left: 4.8vw;
}


.cep-inserir
{
/* display: flex;
flex-direction: column;
justify-content: center; */

display: grid;
grid-template-columns: 1fr;
justify-self: center;

gap: 10vh;


}

.texto-cep
{
font-family: "Poppins", sans-serif;
font-size: 2vw;
font-weight: 500;
color: #FFFF;

}

#cep
{
  margin-bottom: 5vw;
  border-radius: 1vh;
  border-color: transparent;
  height: 7vh;
  font-size: 1rem;
  text-align: center;
 
  background-color: var(--cinza-azulado);
  color: var(--marrom);
  font-weight: 800;
}

.barra-lateral
{
    /* width: 8vw;
    height: .8vh;
    background-color: var(--marrom); */



  width: 100vw;
  height: 1vh;
  background-color: var(--marrom);
}